* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

html, body {
  height: auto;
  font-size: 16px;
  line-height: 25px;
  font-family: "calibri", sans-serif;
  color: #111111; }

.heading, .heading-h1, .heading-h3 {
  font-family: "calibri", sans-serif; }
  .heading-h1 {
    font-size: 40px;
    line-height: 45px;
    margin: 0 0 40px 0;
    font-weight: bold;
    text-transform: none; }
  .heading-h3 {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 30px 0;
    font-weight: bold;
    text-transform: none; }

.dr-text__normal {
  font-size: 16px;
  line-height: 25px; }

p {
  color: #111111; }

.dr-btn {
  font-size: 18px;
  line-height: 35px;
  background: #58412c;
  color: #fff;
  text-transform: uppercase;
  font-family: 'tahoma', sans-serif;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto; }
  .dr-btn:hover {
    color: #fff; }

.max-w-750 {
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.dr-container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.dr-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.dr-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.text-center {
  text-align: center !important; }

.dr-section {
  padding: 2em 0; }

.dr-col-md-6, .dr-col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  position: relative;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 20px; }
  .image-box__cert {
    width: 40%; }
  .image-box__slider {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative; }
  .image-box__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
    .image-box__item.show {
      z-index: 90; }

.dr-ol {
  padding: 0;
  margin: 0;
  counter-reset: dr-ol; }
  .dr-ol li {
    list-style: none;
    position: relative; }
    .dr-ol li:before {
      counter-increment: dr-ol;
      content: counter(dr-ol) ".";
      font-weight: bold;
      margin-right: 5px; }

.mb-0 {
  margin-bottom: 0 !important; }

.mt-50 {
  margin-top: 45px !important; }

.bg-brown__light {
  background: #b09784; }

.c-light {
  color: #fff; }

.overlay-block {
  padding: 30px 15px; }
  .overlay-block > * {
    margin: 0; }

.list-initial {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 25px; }

@media screen and (min-width: 768px) {
  .dr-col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }
@media screen and (max-width: 550px) {
  .heading-h1 {
    font-size: 35px;
    line-height: 40px; }
  .heading-h3 {
    font-size: 18px;
    line-height: 25px; } }
