@media screen and (max-width: 1024px){

}

@media screen and (min-width: 640px){

}

@media screen and (min-width: 768px){

  .dr-col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 550px) {

  .heading {

    &-h1 {
      font-size: 35px;
      line-height: 40px;
    }

    &-h3 {
      font-size: 18px;
      line-height: 25px;
    }
  }

}

@media screen and (max-width: 425px){

}
