$black: #111111;
$superLightBlack: #84807d;
$lightBlack: #665146;
$lightGray: #eae8e5;
$light: #fff;
$brown: #58412c;
$brownLight: #b09784;

$font-default: 'MuseoSansCyrl-100',sans-serif;
$font-default-medium: 'MuseoSansCyrl-300',sans-serif;
$font-headers: "MinionPro-SemiBold",sans-serif;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
