@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url('../fonts/MuseoSansCyrl-100.eot');
  src: local('MuseoSansCyrl-100'), local('MuseoSansCyrl-100'),
  url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: local('MuseoSansCyrl-300'), local('MuseoSansCyrl-300'),
  url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url('../fonts/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'), local('MuseoSansCyrl-500'),
  url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('../fonts/MuseoSansCyrl-900.eot');
  src: local('MuseoSansCyrl-900'), local('MuseoSansCyrl-900'),
  url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MinionPro-MediumIt';
  src: url('../fonts/MinionPro-MediumIt.eot');
  src: local('MinionPro-MediumIt'), local('MinionPro-MediumIt'),
  url('../fonts/MinionPro-MediumIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MinionPro-MediumIt.woff') format('woff'),
  url('../fonts/MinionPro-MediumIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MinionPro-Regular';
  src: url('../fonts/MinionPro-Regular.eot');
  src: local('MinionPro-Regular'), local('MinionPro-Regular'),
  url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MinionPro-Regular.woff') format('woff'),
  url('../fonts/MinionPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MinionPro-SemiBold';
  src: url('../fonts/MinionPro-SemiBold.eot');
  src: local('MinionPro-SemiBold'), local('MinionPro-SemiBold'),
  url('../fonts/MinionPro-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MinionPro-SemiBold.woff') format('woff'),
  url('../fonts/MinionPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Minion-SemiBold_Italic';
  src: url('../fonts/Minion-SemiBold_Italic.eot');
  src: local('Minion-SemiBold_Italic'), local('Minion-SemiBold_Italic'),
  url('../fonts/Minion-SemiBold_Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Minion-SemiBold_Italic.woff') format('woff'),
  url('../fonts/Minion-SemiBold_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TinosBold-Italic';
  src: url('../fonts/Tinos-BoldItalic.eot');
  src: local('TinosBold-Italic'), local('TinosBold-Italic'),
  url('../fonts/Tinos-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Tinos-BoldItalic.woff') format('woff'),
  url('../fonts/Tinos-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

